<md-toolbar color="primary">
  <button type="button" md-icon-button (click)="sidenav.open()" class="nav-button">
      <md-icon>menu</md-icon>
    </button>
  <a routerLink="/" class="nav-brand">Recipe Book</a>
  <nav class="nav-left">
    <!-- <a routerLink="/user/favorites">Favorites</a> -->

  </nav>

  <span class="fill-space"></span>
  <!-- <nav class="nav-right">
    <a routerLink="/recipes">Recipes</a>
    
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Login</a>
  </nav> -->

</md-toolbar>